@model WishList.Models.Item

<h3>Add item to WishList</h3>

<form action="Create">
<input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <button type="submit">Add item</button>
</form>